<p-panel header="Custom Pipes" class="p-1">
	<p>Custom pipes are created by the developer</p>
	<pre>DooR | {{ 'DooR' | toggleCase : isUpperCase }}</pre>
	<pre>kiSS | {{ 'kiSS' | toggleCase : !isUpperCase }}</pre>
</p-panel>

<p-toolbar>
	<div class="p-toolbar-group-start">
		<p-button
			label="Toggle Case"
			icon="pi pi-refresh"
			(click)="toggleCase()"
		></p-button>
	</div>

	<div class="p-toolbar-group-end">
		<p-button
			class="mr-2"
			label="By name"
			icon="pi pi-sort"
			styleClass="p-button-danger"
		></p-button>
		<p-button class="mr-2" label="Can fly" icon="pi pi-sort"></p-button>
		<p-button
			class="mr-2"
			label="By Color"
			icon="pi pi-sort"
			styleClass="p-button-help"
		></p-button>
	</div>
</p-toolbar>

<div class="grid">
	<div class="col mt-2">
		<p-panel>
			<p-table [value]="heroes" [tableStyle]="{ 'min-width': '50rem' }">
				<ng-template pTemplate="header">
					<tr>
						<th>id</th>
						<th>Name</th>
						<th>Color</th>
						<th>Can Fly</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-hero>
					<tr>
						<td>{{ hero.id }}</td>
						<td>{{ hero.name }}</td>
						<td>{{ hero.canFly | canFly }}</td>
						<td>{{ hero.color }}</td>
					</tr>
				</ng-template>
			</p-table>
		</p-panel>
	</div>
</div>
